In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/superstore_sample.csv")

In [ ]:
df.groupby("Region").sum()

           Row ID  Postal Code        Sales  Quantity  Discount       Profit
Region
Central  11685963    151786150  501239.8908      8780    558.34   39706.3625
East     14073919     50171698  678781.2400     10618    414.00   91522.7800
South     8213295     55875052  391721.9050      6209    238.55   46749.4303
West     15971838    293739752  725457.8245     12266    350.20  108418.4489

In [ ]:
df.groupby('Region').apply(lambda u: u["Profit"].min())

Region
Central   -3701.8928
East      -6599.9780
South     -3839.9904
West      -3399.9800
dtype: float64

In [ ]:
z = df.groupby('Region').size()
print(z)
z[z.values > 2000]

Region
Central    2323
East       2848
South      1620
West       3203
dtype: int64

Region
Central    2323
East       2848
West       3203
dtype: int64

In [ ]:
df.groupby(by=['Region'], as_index=False)['Profit'].sum()

    Region       Profit
0  Central   39706.3625
1     East   91522.7800
2    South   46749.4303
3     West  108418.4489

In [ ]:
df.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [ ]:
df.loc[df["Ship Mode"] == "Second Class"]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.960,2,0.0,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.940,3,0.0,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.620,2,0.0,6.8714
17,18,CA-2014-167164,5/13/2014,5/15/2014,Second Class,AG-10270,Alejandro Grove,Consumer,United States,West Jordan,...,84084,West,OFF-ST-10000107,Office Supplies,Storage,Fellowes Super Stor/Drawer,55.500,2,0.0,9.9900
18,19,CA-2014-143336,8/27/2014,9/1/2014,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,...,94109,West,OFF-AR-10003056,Office Supplies,Art,Newell 341,8.560,2,0.0,2.4824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9965,9966,CA-2016-146374,12/5/2016,12/10/2016,Second Class,HE-14800,Harold Engle,Corporate,United States,Newark,...,19711,East,OFF-PA-10000349,Office Supplies,Paper,Easy-staple paper,4.980,1,0.0,2.3406
9966,9967,CA-2016-146374,12/5/2016,12/10/2016,Second Class,HE-14800,Harold Engle,Corporate,United States,Newark,...,19711,East,OFF-EN-10004483,Office Supplies,Envelopes,"#10 White Business Envelopes,4 1/8 x 9 1/2",109.690,7,0.0,51.5543
9980,9981,US-2015-151435,9/6/2015,9/9/2015,Second Class,SW-20455,Shaun Weien,Consumer,United States,Lafayette,...,70506,South,FUR-TA-10001039,Furniture,Tables,KI Adjustable-Height Table,85.980,1,0.0,22.3548
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [ ]:
df[df["Ship Mode"] != ""]

0          1
1          2
2          3
3          4
4          5
        ...
9989    9990
9990    9991
9991    9992
9992    9993
9993    9994
Name: Row ID, Length: 9994, dtype: int64

In [ ]:
df.iloc[1]

Row ID                                                           2
Order ID                                            CA-2016-152156
Order Date                                               11/8/2016
Ship Date                                               11/11/2016
Ship Mode                                             Second Class
Customer ID                                               CG-12520
Customer Name                                          Claire Gute
Segment                                                   Consumer
Country                                              United States
City                                                     Henderson
State                                                     Kentucky
Postal Code                                                  42420
Region                                                       South
Product ID                                         FUR-CH-10000454
Category                                                 Furniture
Sub-Category                                                Chairs
Product Name     Hon Deluxe Fabric Upholstered Stacking Chairs,...
Sales                                                       731.94
Quantity                                                         3
Discount                                                       0.0
Profit                                                     219.582
Name: 1, dtype: object

In [ ]:
df.apply(lambda x: x["Sales"] * x["Quantity"], axis=1)

0        523.9200
1       2195.8200
2         29.2400
3       4787.8875
4         44.7360
          ...
9989      75.7440
9990     183.9200
9991     517.1520
9992     118.4000
9993     486.3200
Length: 9994, dtype: float64

In [ ]:
def function(x):
  return x["Sales"] * x["Quantity"]
df.apply(lambda x: function(x), axis=1)

0        523.9200
1       2195.8200
2         29.2400
3       4787.8875
4         44.7360
          ...
9989      75.7440
9990     183.9200
9991     517.1520
9992     118.4000
9993     486.3200
Length: 9994, dtype: float64

In [ ]:
df.loc[df["Category"] == "Furniture", "Category"] = "Orange"

In [ ]:
df.iloc[1,1] = "TungLam"

In [ ]:
df.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,Orange,Orange,Orange,Orange,Orange,Orange,Orange,Orange,Orange,Orange,...,Orange,Orange,Orange,Orange,Orange,Orange,Orange,Orange,Orange,Orange
1,Orange,TungLam,Orange,Orange,Orange,Orange,Orange,Orange,Orange,Orange,...,Orange,Orange,Orange,Orange,Orange,Orange,Orange,Orange,Orange,Orange
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714
3,Orange,Orange,Orange,Orange,Orange,Orange,Orange,Orange,Orange,Orange,...,Orange,Orange,Orange,Orange,Orange,Orange,Orange,Orange,Orange,Orange
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.368,2,0.2,2.5164

In [ ]:
def check(x):
  if x == "Orange":
    return True 
  return False
df["New column"] = df["Ship Mode"].apply(lambda x: check(x))

In [ ]:
df["New column"]

0        True
1        True
2       False
3        True
4       False
        ...
9989     True
9990     True
9991    False
9992    False
9993    False
Name: New column, Length: 9994, dtype: bool

In [ ]:
df.loc[:3, lambda x: ['Ship Date', 'Country']]

   Ship Date        Country
0     Orange         Orange
1     Orange         Orange
2  6/16/2016  United States
3     Orange         Orange